<div class="container mt-4">
    <mat-card>
        <div class="row justify-content-center d-flex">
            <div class="col-md-2">
                <h3 class="font-weight-bold">Order</h3>
            </div>
            <div class="col-md-4">
                <h3 class="font-weight-bold">Order Date </h3>
            </div>
            <div class="col-md-2">
                <h3 class="font-weight-bold"> Price</h3>
            </div>
            <div class="col-md-2">
                <h3 class="font-weight-bold">Status</h3>
            </div>
        </div>
    </mat-card>
    <mat-card class="mat-elevation-z3 mb-1 mt-1" *ngFor="let item of orders" style="cursor: pointer; outline: none;" routerLink="/orders/{{item.id}}">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h3>{{item.id}}</h3>
            </div>
            <div class="col-md-4 mt-2">
                <h4 style="margin-bottom: 0px;">{{item.orderDate | date: 'medium'}}</h4>
            </div>
            <div class="col-md-2  mt-2">
                <h3>&#x20b9;{{item.total}}</h3>
            </div>
            <div class="col-md-2  mt-2">
                <h3>{{item.status}}</h3>
            </div>
        </div>
    </mat-card>
</div>