

<div class="container mt-5">
    <button mat-raised-button color="white" (click)="get500Error()">Test 500 Error</button>
    <button mat-raised-button color="primary" class="ml-3" (click)="get404Error()">Test 404 Error</button>
    <button mat-raised-button color="warn" class="ml-3" (click)="get400Error()">Test 400 Error</button>
    <button mat-raised-button color="accent" class="ml-3" (click)="get400ValidationError()">Test 400 Validation Error</button>
    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</div>
