<carousel>
    <slide>
        <img src="https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://images.pexels.com/photos/3791614/pexels-photo-3791614.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Wishkart.com</h1>
    </div>
</section>